body {
    background-color: #F0E68C;
   }
    
   .titulo-principal {
       padding-left: 35px;
       width: 80%;
       text-align: left;
       font-size: 50px;
       color: #8B008B;
   }
   < div  class =" fundo1 " >
background-color: #F0E58C;
 </ div class> 
            </ ol >
              </ div >
