body {
	
}
#banner {
	width: 100%;
}
.principal{
background: #FFFFE0;
padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
	color: #2F4F4F;
	text-align: left
}
.titulo-secundario{
    background-color: #ADFF2F;
    text-align: justify;
    padding: 20px;
}	
.titulo-terciario{
    background-color: #E6E6FA;
    text-align: justify;
    padding: 20px;
}	
ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
	background: #F0FFFF
	
}

