body {
	
}
#banner {
	width: 100%;
}
.principal{
background: #FFFFE0;
padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
	color: #2F4F4F;
	text-align: left
}
.titulo-secundario{
    color: red;
    background-color: rgb(234, 218, 234);
    text-align: justify;
    padding: 20px;
	
.<h2 class="titulo-secundario">Aluno: Claudinei</h2>
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
	background: #E0FFFF
	
}

