body {
	
}
#banner {
		width: 100%;
}
.principal{
background: #FFFFE0;
padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
	color: #2F4F4F;
	text-align: left
}
.titulo-secundario{
	padding-left: 20px;
	color: red;
	text-align: left
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 20%;
	background: #E0FFFF
	
}

