body {
	
}

.principal{
background: #CCCCCC;
padding: 30px;
}

.titulo-principal{
	padding-left: 20px;
}
.titulo-centralizado {
	color: blue;
	text-align: left;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
	background: #F5F5F5;
}

