body {
 background-color: #F0E68C;
}

#banner {
	width: 100%;
	background-color: #EEE685;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.disciplinas {
	display: inline-block;
	background: #E6E6FA;
	padding: 10px;
	text-align: left;
	width: 100%;
}

