body {
    background-color: #F0E68C;
   }
    
   .titulo-principal {
       padding-left: 35px;
       width: 80%;
       text-align: left;
       font-size: 50px;
       color: #8B008B;
   }
   
  .disciplinas {
    background: #E6E6FA;
    padding: 10px;
    text-align: left;
}
